
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-width: 375px;
}

header {
  text-align: center;
  background-color: rgb(39, 39, 39);
  height: 200px;
  color: white;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#image {
  padding-top: 20px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#img-caption {
  padding-top: 5px;
  text-align: center;
}

#tribute-info {
  background-color: rgb(233, 233, 233);
  margin-top: 10px;
  padding: 20px 10px;
  text-align: center;
}

#timeline {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

#quote {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

hr {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}